trunk/examples/web-services/hello-ocsa/Hello.wsdl

<?xml version='1.0' encoding='utf-8' ?>
<definitions name='demo.basic.hello.server.HelloService' targetNamespace='http://systinet.com/wsdl/demo/basic/hello/server/'
    xmlns:tns='http://systinet.com/wsdl/demo/basic/hello/server/'
    xmlns:map='http://systinet.com/mapping/'
    xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
    xmlns='http://schemas.xmlsoap.org/wsdl/'>
    <types>
	<xsd:schema elementFormDefault="qualified"
	    targetNamespace="http://systinet.com/wsdl/demo/basic/hello/server/"
	    xmlns:map="http://systinet.com/mapping/"
	    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	    <xsd:element name="hello">
		<xsd:complexType>
		    <xsd:sequence>
			<xsd:element name="p0" nillable="true"
			    type="xsd:string"/>
		    </xsd:sequence>
		</xsd:complexType>
	    </xsd:element>
	    <xsd:element name="helloResponse">
		<xsd:complexType>
		    <xsd:sequence>
			<xsd:element name="response" nillable="true"
			    type="xsd:string"/>
		    </xsd:sequence>
		</xsd:complexType>
	    </xsd:element>
	</xsd:schema>

    </types>
    <message name='HelloService_hello_Request_Soap'>
	<part name='parameters' element='tns:hello'/>
    </message>
    <message name='HelloService_hello_Response_Soap'>
	<part name='parameters' element='tns:helloResponse'/>
    </message>
    <portType name='HelloService'>
	<operation name='hello'>
	    <input message='tns:HelloService_hello_Request_Soap'/>
	    <output message='tns:HelloService_hello_Response_Soap'/>
	</operation>
    </portType>
    <binding name='HelloService' type='tns:HelloService'>
	<soap:binding transport='http://schemas.xmlsoap.org/soap/http' style='document'/>
	<operation name='hello'>
	    <map:java-operation name='hello' signature='KExqYXZhL2xhbmcvU3RyaW5nOylMamF2YS9sYW5nL1N0cmluZzs=' unwrapped='true'/>
	    <soap:operation soapAction='http://systinet.com/wsdl/demo/basic/hello/server/HelloService#hello?KExqYXZhL2xhbmcvU3RyaW5nOylMamF2YS9sYW5nL1N0cmluZzs=' style='document'/>
	    <input>
		<soap:body parts='parameters' use='literal'/>
	    </input>
	    <output>
		<soap:body parts='parameters' use='literal'/>
	    </output>
	</operation>
    </binding>
    <service name='HelloService'>
	<port name='HelloService' binding='tns:HelloService'>
	    <soap:address location='http://localhost:6070/HelloWorld'/>
	</port>
    </service>
</definitions>
